<!-- Toolbar -->
<mat-toolbar color="primary">
  <span>PropaneDB demo</span>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start stretch" class="cards">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="90%" fxFlex.md="66.6667%" fxFlex.gt-md="50%">

      <mat-card>
        <mat-card-header>
          <mat-card-title><h2>Add To Do</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-todo-form (addTodoEmitter)="addTodo($event)"></app-todo-form>
      
        </mat-card-content>
      </mat-card>
      
      <mat-card>
        <mat-card-header>
          <mat-card-title><h2>To Do List</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container >
            <ng-container *ngIf="todos && todos.length > 0; else allDone">
              <mat-list role="list">
                <app-todo-item *ngFor="let todo of todos" [todo]="todo" (completeChange)="onCompleteChange(todo, $event)">
                </app-todo-item>
              </mat-list>
            </ng-container>
            <ng-template #allDone>
              <div fxLayout="row" fxLayoutAlign="center center">
                <h4>All Done!! 🏖</h4>
              </div>
            </ng-template>
          </ng-container>
        </mat-card-content>
      </mat-card>

   

    </div>
  </div>
</div>